<dialog
  class="modal fixed rounded-md border-2 border-black p-2 backdrop:bg-slate-200 backdrop:bg-opacity-50"
  id="addExpenseModal"
>
  <button class="closeBtn border px-1 hover:bg-black hover:text-white">
    x
  </button>
  <form method="POST" id="addExpenseForm" class="space-y-4 p-6">
    {% csrf_token %}
    <input
      type="hidden"
      value="{{request.user.id}}"
      name="user"
      id="expenseUser"
    />
    <div class="flex flex-col md:flex-row">
      <label class="mr-2 p-1 font-bold uppercase">Amount</label>
      <input
        class="rounded bg-gray-200 p-1"
        type="number"
        name="amount"
        id="expenseAmount"
      />
    </div>
    <div class="flex flex-col md:flex-row">
      <label class="font-bold uppercase">Category</label>
      <select id="categorySelectExpenseForm" class="min-w-[100px]">
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex flex-col md:flex-row">
      <label class="p-1 font-bold uppercase">Date</label>
      <input class="bg-gray-200 p-1" type="date" name="date" id="expenseDate" />
    </div>
    <div class="flex flex-col md:flex-row">
      <label class="p-1 font-bold uppercase">Description</label>
      <input
        class="bg-gray-200 p-1"
        type="text"
        name="description"
        id="expenseDescription"
      />
    </div>
    <div class="flex flex-col md:flex-row">
      <label class="p-1 font-bold uppercase">Receipt: </label>
      <input
        class="bg-gray-200 p-1"
        type="file"
        name="receipt"
        id="expenseReceipt"
      />
    </div>
    <input
      type="hidden"
      value="{{request.user.id}}"
      name="user"
      id="sourceUser"
    />
    <input
      type="submit"
      value="Create"
      class="rounded bg-black p-1 text-white"
    />
  </form>
</dialog>
