<dialog
  class="modal fixed rounded-md border-2 border-black p-2 backdrop:bg-slate-200 backdrop:bg-opacity-50"
>
  <button class="closeBtn border px-1 hover:bg-black hover:text-white">
    x
  </button>
  <form method="POST" id="addIncomeForm" class="my-4 max-w-[60vw]">
    {% csrf_token %}
    <label>Amount:</label>
    <input type="number" name="amount" id="incomeAmount" />
    <label>Source:</label>
    <select id="sourceSelectIncomeForm">
      {% for source in sources %}
      <option value="{{source.id}}">{{source.name}}</option>
      {% endfor %}
    </select>
    <label>Date:</label>
    <input type="date" name="date" id="incomeDate" />
    <label>Description:</label>
    <input type="text" name="description" id="incomeDescription" />
    <input
      type="hidden"
      value="{{request.user.id}}"
      name="user"
      id="incomeUser"
    />
    <input type="submit" class="bg-black text-white" />
  </form>
</dialog>
