<html>
  <head>
    {% load static %}
    <title>Home</title>
    <link href={% static "styles.css" %} rel="stylesheet" type="text/css">
  </head>
<body class="font-mono">
{% include 'navbar.html' %}
    <main>
        <div class="grid place-items-center">
        <form method="POST" class="my-20 flex flex-wrap justify-evenly gap-5 text-[2vh]" action="bills" class="p-6">
            {% csrf_token %}
            <div>
            <label>Bill Name:</label>
            <input class="p-1 rounded bg-gray-100" placeholder="Enter name for bill" type="text" name="bill_name" id="billName" />
            </div>
            <div>
            <label>Amount:</label>
            <input class="p-1 rounded bg-gray-100" placeholder="Enter amount" type="number" name="amount" id="billAmount" />
            </div>
            <div>
            <label>People:</label>
            <input class="p-1 rounded bg-gray-100" placeholder="suresh,ramesh,mahesh,..." type="input" name="people" id="billPeople" />
            </div>
            <input type="submit" class="rounded bg-green-400 p-2 text-white" value="Create" />
            </form>

            <div id="tables" class="mx-10 md:px-0 flex flex-wrap gap-10 justify-evenly">
            <div id="created-bills">
            <p class="text-[4vh] py-2">Bills</p>
                <table class="w-full text-[2vh] text-left rtl:text-right text-gray-500">
                    <thead class="text-[2vh] text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Bill ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Bill Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Host
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Total amount
                            </th>
                            <th scope="col" class="px-6 py-3">
                               People 
                            </th>
                            <th scope="col" class="px-6 py-3">
                                To pay
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bill in created_bills %}
                        <tr class="bg-white border-b">
                            <td class="px-6 py-4">
                                {{bill.id}}
                            </td>
                            <td class="px-6 py-4">
                                {{bill.bill_name}}
                            </td>
                            <td class="px-6 py-4">
                                {{bill.host.username}}
                            </td>
                            <td class="px-6 py-4">
                                {{bill.amount}}
                            </td>
                            <td class="px-6 py-4">
                                {% for person in bill.people.all %} {{person.username}} {% endfor %}
                            </td>
                            <td class="px-6 py-4">
                               {{bill.to_pay}} 
                               {% if user in bill.people.all %}
                               <form method="POST" action="{% url 'pay-bill' bill.id %}">
                               {% csrf_token %}
                               <input type="submit" value="Pay" class="rounded bg-green-400 p-1 text-white" />
                               </form>
                               {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="pending-bills">
                <p class="py-2 text-[4vh]">Pending Bills</p>
                <table class="w-full text-[2vh] text-left rtl:text-right text-gray-500">
                    <thead class="text-[2vh] text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Bill ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Bill Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Host
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Total amount
                            </th>
                            <th scope="col" class="px-6 py-3">
                               People 
                            </th>
                            <th scope="col" class="px-6 py-3">
                                To pay
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bill in pending_bills %}
                        <tr class="bg-white border-b">
                            <td class="px-6 py-4">
                                {{bill.id}}
                            </td>
                            <td class="px-6 py-4">
                                {{bill.bill_name}}
                            </td>
                            <td class="px-6 py-4">
                                {{bill.host.username}}
                            </td>
                            <td class="px-6 py-4">
                                {{bill.amount}}
                            </td>
                            <td class="px-6 py-4">
                                {% for person in bill.people.all %} {{person.username}} {% endfor %}
                            </td>
                            <td class="px-6 py-4">
                               {{bill.to_pay}} 
                               <form method="POST" action="{% url 'pay-bill' bill.id %}">
                               {% csrf_token %}
                               <input type="submit" value="Pay" class="rounded bg-green-400 p-1 text-white" />
                               </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
    </main>
</body>
</html>