<dialog
  class="modal fixed rounded-md border shadow-2xl border-black p-2 backdrop:bg-slate-200 backdrop:bg-opacity-50"
  id="transaction-details"
>
  <button class="closeBtn border px-1 hover:bg-black hover:text-white">
    x
  </button>
  <form method="POST" action="delete-transaction" class="absolute right-2 top-2 flex gap-4">
    {% csrf_token %}
    <button
      class="confirm-btn hidden border px-1 text-white bg-red-500 hover:bg-red-600 md:right-20"
    >

    <input type="hidden" name="id" class="del-id" id="transac-id" />
      <input type="submit" value="Confirm?" />
  </form>
    <button class="del-btn border px-1 bg-red-500 text-white hover:bg-red-600">
      DELETE
    </button>
  <form
    method="POST"
    action="update-transaction"
    enctype="multipart/form-data"
    id="transac-ud-form"
    class="space-y-4 p-6"
  >
  <h1 class="text-[3vh]">Details</h1>
  <hr />
    <input
      type="hidden"
      value="{{request.user.id}}"
      name="user"
      id="transacUser"
    />
    <input type="hidden" class="del-id" id="transac-id" name="id" />
    <div class="flex flex-col md:flex-row">
      <label class="mr-2 p-1 font-bold uppercase">Amount: </label>
      <input
        class="rounded bg-gray-200 p-2"
        type="number"
        name="amount"
        id="transacAmount"
      />
    </div>
    <div class="flex flex-col md:flex-row">
      <label class="font-bold uppercase">Category/Source: </label>
      <select id="transacCategory" class="p-2" name="category" class="min-w-[100px]">
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
      <select id="transacSource" class="p-2" name="source" class="min-w-[100px]">
        {% for source in sources%}
        <option value="{{source.id}}">{{source.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex flex-col md:flex-row">
      <label class="p-1 font-bold uppercase">Date: </label>
      <input class="bg-gray-200 p-2" type="date" name="date" id="transacDate" />
    </div>
    <div class="flex flex-col md:flex-row">
      <label class="p-1 font-bold uppercase">Description: </label>
      <input
        class="bg-gray-200 p-2"
        type="text"
        name="description"
        id="transacDescription"
      />
    </div>
    <div class="flex flex-col md:flex-row">
      <label class="p-1 font-bold uppercase">Receipt: </label>
      <a id="expenseReceiptLink" href="" class="underline text-blue-500">View Receipt</a>
      <input
        class="bg-gray-200 p-2"
        type="file"
        name="receipt"
        id="transacReceipt"
      />
    </div>
    <input
      type="submit"
      value="Update"
      class="rounded bg-black hover:bg-gray-800 p-2 text-white"
    />
  </form>
</dialog>
